<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Travel App
        </div>
        <div class="holder entry">
            <div class="TravelContent">
                <div class="ImageTravelContent">
                    <label>medellin colombia</label>
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/48/Microsoft_Windows_Holographic.png/300px-Microsoft_Windows_Holographic.png" />
                </div>
                <div class="TravelInformation">
                    <div class="DateResultInfo">Departing: 2022-12-12</div>
                    <div class="DateTyped">686 days left</div>
                    <div class="flyInformation">Udacity aitline</div>
                    <div class="wheatherInformation">good wheater 34c</div>
                    <button id="SaveTravel" type="submit"> Save travel </button>
                </div>
            </div>
            <div class="TravelContent">
                <div class="ImageTravelContent">
                    <label>medellin colombia</label>
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/48/Microsoft_Windows_Holographic.png/300px-Microsoft_Windows_Holographic.png" />
                </div>
                <div class="TravelInformation">
                    <div class="DateResultInfo">Departing: 2022-12-12</div>
                    <div class="DateTyped">686 days left</div>
                    <div class="flyInformation">Udacity aitline</div>
                    <div class="wheatherInformation">good wheater 34c</div>
                    <button id="SaveTravel" type="submit"> Save travel </button>
                </div>
            </div>
            <div class="TravelContent">
                <div class="ImageTravelContent">
                    <label>medellin colombia</label>
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/48/Microsoft_Windows_Holographic.png/300px-Microsoft_Windows_Holographic.png" />
                </div>
                <div class="TravelInformation">
                    <div class="DateResultInfo">Departing: 2022-12-12</div>
                    <div class="DateTyped">686 days left</div>
                    <div class="flyInformation">Udacity aitline</div>
                    <div class="wheatherInformation">good wheater 34c</div>
                    <button id="SaveTravel" type="submit"> Save travel </button>
                </div>
            </div>
        </div>
        <div class="inputTravel">
            <div class="holder_content">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <div class="travel Date">
                        <label for="travelDate">Enter de date of your travel</label>
                        <input type="text" id="travelDate" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="travel Location">
                        <label for="travelLocation">Type your the location of your travel</label>
                        <input type="text" id="travelLocation" placeholder="Location"></input>

                    </div>
                    <input id="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </div>

        </div>

    </div>
</body>

</html>