<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Travel App
        </div>
        <div class="holder entry">

        </div>
        <div class="inputTravel">
            <div class="holder_content">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <div class="travel Date">
                        <label for="travelDate">Enter de date of your travel</label>
                        <input id="travelDate" type="date" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="travel Location">
                        <label for="travelLocation">Type your the location of your travel</label>
                        <input type="text" id="travelLocation" placeholder="Location"></input>

                    </div>
                    <input id="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </div>

        </div>

    </div>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>